html {
  background-image: linear-gradient(to right, blue, lightpink);
  /* background-color: #F5F5DC; */
}
h1:hover{
	text-decoration: underline;
}
h1,p{
	color:white; 
	transition: transform 0.5s ease;
}

h1:hover,img:hover,p:hover{
	transform: scale(1.1);
}

.box-shadow{
	background-color: rgba(0, 0, 0, 0.5);
}
