<web-app>

    <servlet>
        <servlet-name>Hit</servlet-name>
        <servlet-class>HitCount</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Hit</servlet-name>
        <url-pattern>/hc</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>hidden</servlet-name>
        <servlet-class>HiddenForms</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>hidden</servlet-name>
        <url-pattern>/redirect</url-pattern>
    </servlet-mapping>

</web-app>